body {
    background-color: steelblue;
}

.navigation {
    background-color: lightblue;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

ul {
    list-style: none; 
    display: flex;
    text-transform: uppercase;
}

ul a {
    display: block;
    text-decoration: none;
    letter-spacing: .45em;
    list-style: none; 
    padding: 1em;

}

div {
   margin-right: auto;
   margin-left: auto;
   display: block;
}

.first-starters img {
    display: inline-block;
    justify-content: center;
    border: solid red; 
  
}

.second-form img {
     display: inline-block;
     justify-content: center;
     border: solid red; 
     
     flex-direction: row;
 }

 .final img {
    display: inline-block;
     justify-content: center;
     border: solid red;
     padding: 40em;
     flex-direction: row;
 }